.footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 40px;
    border-top-style:outset;
    border-top-width: 1px;
}
/* .logo{
    width: 70px;
    height: 70px;
    object-fit: contain;
    background-color: white;
    text-align: left;
} */


.copyright{
    background-color: gray;
    padding: 10px 0px;
}
.copyright-item{
    font-size: 14px;
    color: white;
    text-align: center;
    margin: 0px;
}
