ul {
    list-style-type: none;
    margin: 0;
    padding: 0px 150px;
    overflow: hidden;
}

li {
    float: left;
}

li a {
    display: block;
    color: orange;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: orange;
    color: white;
}
